<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @bank_account.username %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
